body{
    font: 16px/28px arial, sans serif;
    background-color: #eaeaea;
    background-image: url(ripples.png);
    color: #333;
}
.container{
    width: 800px;
    margin: auto;
    background-color: white;
}
.header{
    padding: 20px;
    padding-bottom: 10px;
}
.header .judul{
    font-size: 40px;
    font-weight: bold;
}
.header ul li{
    display: inline-block;
    margin-top: 10px;
    margin-right: 60px;
    margin-left: 10px;
    font-size: 15px;
}
.header a{
    text-decoration: none;
    color: lightcoral;
    padding: 3px;
}
.header a:hover{
    background-color: lightcoral;
    color: white;
}
.hero{
    height: 300px;
    background-image: url(bali.jpg);
    background-size: cover;
    background-position: 0 -100px;
    border-top: 5px solid lightsalmon;
    border-bottom: 5px solid lightblue;
}
.content{
    padding: 20px;
}
.content h2{
    font-size: 25px;
    margin-top: 5px;
}
.content .penulis a{
    color: lightcoral;
    text-decoration: none;
}
.content p{
    margin-bottom: 10px;
    font-size: 15px;
}
.content2 h2{
    font-size: 20px;
    margin-left: 20px;
}
.content2 p{
    font-size: 14px;
}
.content3 h2{
    font-size: 20px;
    margin-left: 20px;
}
.content3 p{
    font-size: 14px;
}
.content3 h5{
    font-size: 12px;
    text-decoration: none;
    margin-left: 20px;
    color: blue;
}
.footer{
    background-color: #333;
    padding: 15px;
}
.footer .copy{
    color: #eaeaea;
    text-align: center;
}