*{
    font-family:georgia ;
}
body{
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: 1000px 200px;
}
h1{
    text-align: center;
    font-family: comic sans ms;
    font-size: 60px;
    color: darkblue;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
    font-style: italic;
}
p{
    text-align: justify;
    text-align: center;
}
#a{
    color: white;
}
#b{
    color: orange;
}
p{
    text-align: center;
}
#a{
    color: red;
}
#c{
    color: blue;
    font-weight: bold; 
}