*{
    margin: 0;
     padding: 0;
}

body{
    font-family: 'Ubuntu',sans-serif;

}

/*  Navbar */
nav{
    display: flex;
    background-color: lightblue;
    justify-content: space-around;
    padding: 20px 0;
    color: aliceblue;
}
                 
nav .logo{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
}

nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a{
    color:aliceblue ;
    text-decoration: none;
    font-size: 0,6em;
}

nav ul li a:hover{
    color: plum;
}




/* Hamburger Menu */
.menu-toggle{
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input{
    opacity: 0;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: lightblue ;
    border-radius: 38px;
}

/* Responsive Breakpoint */


/* Ukuran tablet */
@media (max-width: 768px){
    nav ul{
        width: 50%;
    }
}

/* Ukuran mobile */
@media (max-width:576){
    nav ul{
        display: none;
    }
}